# TGP Web

APP_MODE=dev
APP_DEBUG_MODE=true

# DB

DB_DSN=
DB_DRIVER=pdo_mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tgp
DB_USERNAME=root
DB_PASSWORD=

# Queue

QUEUE_HOST=rabbitmq
QUEUE_PORT=5672
QUEUE_USER=root
QUEUE_PASSWORD=pass

# Search

SEARCH_HOST=elasticsearch
SEARCH_PORT=9200
