extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension(%debugMode%)
    nettrine.orm: Nettrine\ORM\DI\OrmExtension(%debugMode%)
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.dbal:
	debug:
		panel: %debugMode%

	connections:
		default:
			driver: %database.mysql.driver%
			host: %database.mysql.host%
			port: %database.mysql.port%
			dbname: %database.mysql.database%
			user: %database.mysql.user%
			password: %database.mysql.password%
			serverVersion: '8.0.32'

nettrine.orm:
	managers:
		default:
			connection: default
			mapping:
				App:
					directories: [%appDir%/Database/Entity]
					namespace: App\Database\Entity

nettrine.migrations:
    table: doctrine_migration_versions
    column: version
    directories:
        App\Database\Migration: %appDir%/Database/Migration
