services:
	- App\Core\RouterFactory::createRouter
	- Symfony\Component\Serializer\Normalizer\ObjectNormalizer
	- Symfony\Component\Serializer\Encoder\JsonEncoder
	serializer:
		factory: Symfony\Component\Serializer\Serializer(
			[@Symfony\Component\Serializer\Normalizer\ObjectNormalizer],
			[@Symfony\Component\Serializer\Encoder\JsonEncoder]
		)

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
			- *Subscriber
