services:
	- App\Core\RouterFactory::createRouter
	- Symfony\Component\Serializer\Normalizer\ObjectNormalizer
	- Symfony\Component\Serializer\Encoder\JsonEncoder

	serializer:
		factory: @App\Core\Factory\SerializerFactory::create

	validator:
		factory: @App\Core\Factory\ValidatorFactory::create

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Generator
			- *Repository
			- *Service
			- *Subscriber
