services:
	- App\Core\RouterFactory::createRouter
	- Symfony\Component\Serializer\Normalizer\ObjectNormalizer
	- Symfony\Component\Serializer\Encoder\JsonEncoder

	serializer:
		factory: @App\Core\Factory\SerializerFactory::create

	validator:
		factory: @App\Core\Factory\ValidatorFactory::create

	elasticsearchClient:
		factory: @App\Core\Factory\ElasticsearchClientFactory::create

	rabbitMqService:
		factory: App\Core\Service\RabbitMqService(
            host: %queue.rabbitmq.host%
            port: %queue.rabbitmq.port%
            user: %queue.rabbitmq.user%
            password: %queue.rabbitmq.password%
        )

	elasticsearchService: App\Core\Service\ElasticsearchService

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Generator
			- *Repository
			- *Service
			- *Subscriber
